body{
  margin: 20px;
}
h1{
  color: red;
}
.track{
  background-color: gray;
  width: 40%;
  margin: auto;
}
.lane1{
  width: 40%;
  height: 20px;
  padding-left: 5px;
}
.lane2{
  width: 40%;
  height: 20px;
  padding-left: 5px;
}
.space{
  width: 20%;
  background-color: white;
  height: 20px;
}
.active1{
  background-color: blue;
}
.active2{
  background-color: green;
}
#start{
  background-color: orange;
  height: 30px; 
  padding-left: 5px;
}
#finish{
  background-color: orange;
  height: 30px;
  padding-left: 5px;
}

#winner1{
  background-color: blue;
  display: none;
  margin-left: 2px;
}
#winner2{
  background-color: green;
  display: none;
  margin-left:2px;
}